Repository wenxig/delta-comic-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

ci: fmt
  .oxfmtrc.json
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code

ci(pub): auto publish
  .github/workflows/build.yaml
  .oxfmtrc.json
  .vscode/settings.json
  components.d.ts
  package.json
  pnpm-lock.yaml
  release.config.mts
  script/install.sh
  script/set-version.mts
  script/update-version.mts
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

fix(build): ci path
  .github/workflows/build.yaml
Due: none

build(pub): more detail pkg json
  package.json
Due: pnpm exec cspell --no-exit-code

fix(pub): deps not install
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code

fix(pub): ci var
  .github/workflows/build.yaml
Due: none

Notes added by 'git notes add'
  a864f18b51b42042bcdc0e0d273b2b4e08c49902
Due: none

fix(pub): ci commit
  .github/workflows/build.yaml
  release.config.mts
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  9b246c359a5d306ece92e9ec299815b611637f38
Due: none

fix(pub): ci config
  .releaserc.mjs
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

fix(pub): ci tag name
  .releaserc.mjs
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  1caed530b1656bf1fe48a27c7417d628276030c0
Due: none

chore(pub): add expose
  lib/components/routerTab.vue
  lib/depends/index.ts
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

feat(pub): add expose last
  vite.config.mts
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  22f910baf3549b4c21e4fc3ad99e275e51cd0f0a
Due: none

fix(struct): [pub] item is allow raw-image
  .github/workflows/build.yaml
  lib/struct/item.ts
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  c468305ef24e2c27c52a9fce5cacd76e03e20d3b
Due: none

fix: [pub] expose
  lib/depends/index.ts
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  d54392df3d4bc70c644978f23c329115f5c7322a
Due: none

chore: lower log level
  lib/utils/eventBus.ts
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

fix(deps): [pub] peers deps range too small
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  1b481bc1f5ae442adb477586554e20a7eacb3280
Due: none

feat(plugin): make plugin define work
  packages/core/lib/index.ts
  packages/core/lib/ipc.ts
  packages/core/package.json
  packages/plugin/lib/config.ts
  packages/plugin/lib/index.ts
  packages/plugin/lib/plugin/api.ts
  packages/plugin/lib/plugin/auth.ts
  packages/plugin/lib/plugin/content.ts
  packages/plugin/lib/plugin/index.ts
  packages/plugin/lib/plugin/otherProgress.ts
  packages/plugin/lib/plugin/resource.ts
  packages/plugin/lib/plugin/search.ts
  packages/plugin/lib/plugin/share.ts
  packages/plugin/lib/plugin/subscribe.ts
  packages/plugin/lib/plugin/user.ts
  packages/plugin/lib/type/define.ts
  packages/plugin/package.json
  packages/ui/lib/index.ts
  packages/utils/lib/index.ts
  packages/utils/lib/store.ts
  packages/utils/package.json
  pnpm-lock.yaml
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

chore(request): init request
  .changeset/README.md
  .changeset/config.json
  package.json
  packages/request/README.md
  packages/request/lib/axios.ts
  packages/request/lib/index.ts
  packages/request/package.json
  packages/request/tsconfig.json
  packages/request/vite.config.mts
  pnpm-lock.yaml
  tsconfig.base.json
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

feat(request): make request single
  .changeset/README.md
  .changeset/config.json
  package.json
  packages/model/lib/struct/stream.ts
  packages/model/package.json
  packages/request/lib/abort.ts
  packages/request/lib/axios.ts
  packages/request/lib/index.ts
  packages/utils/lib/index.ts
  pnpm-lock.yaml
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

chore: auto ci release
  .github/workflows/build.yaml
  commitlint.config.ts
  packages/core/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/package.json
  packages/utils/lib/date.ts
  packages/utils/package.json
  pnpm-lock.yaml
  release.config.mjs
  script/install.sh
  script/set-version.mts
  script/update-version.mts
  tsconfig.base.json
  tsconfig.node.json
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

fix: ci process
  .github/workflows/lint.yaml
  packages/core/package.json
  packages/core/tsconfig copy.json
  packages/model/package.json
  packages/model/tsconfig copy.json
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/lib/index.ts
  packages/ui/lib/message/dialog.tsx
  packages/ui/lib/message/download.tsx
  packages/ui/lib/message/index.ts
  packages/ui/lib/message/loading.tsx
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

fix: not private
  package.json
Due: pnpm exec cspell --no-exit-code

fix: public config
  packages/core/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code

feat(vite): vite plugin
  .github/workflows/build.yaml
  packages/core/vite.config.mts
  packages/model/vite.config.mts
  packages/plugin/lib/depends.ts
  packages/plugin/lib/index.ts
  packages/plugin/package.json
  packages/plugin/vite.config.mts
  packages/request/vite.config.mts
  packages/ui/vite.config.mts
  packages/utils/lib/index.ts
  packages/utils/vite.config.mts
  packages/vite/README.md
  packages/vite/lib/index.ts
  packages/vite/package.json
  packages/vite/tsconfig.json
  packages/vite/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

feat(db): make db work
  .github/workflows/build.yaml
  env.d.ts
  packages/db/README.md
  packages/db/env.d.ts
  packages/db/lib/favourite.ts
  packages/db/lib/history.ts
  packages/db/lib/index.ts
  packages/db/lib/itemStore.ts
  packages/db/lib/migrations/1_initial.ts
  packages/db/lib/migrations/2_fix-display_name.ts
  packages/db/lib/migrations/3_fix_fvi_foreign_key.ts
  packages/db/lib/plugin.ts
  packages/db/lib/recentView.ts
  packages/db/lib/subscribe.ts
  packages/db/package.json
  packages/db/tsconfig.json
  packages/db/vite.config.mts
  packages/ui/lib/form/components/DcForm.vue
  pnpm-lock.yaml
  tsconfig.base.json
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code

Path conditions:
  pnpm exec oxlint --fix --type-aware: any of: *.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}
  pnpm exec cspell --no-exit-code: any of: *.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}
