Repository wenxig/delta-comic-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code, pnpm exec oxfmt pnpm exec oxlint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm exec oxlint --fix --type-aware",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}': |
  pnpm exec oxfmt
  pnpm exec oxlint

'*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}': |
  pnpm exec cspell --no-exit-code

fix(utils): add external
  packages/db/vite.config.mts
  packages/utils/lib/index.ts
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code, pnpm exec oxfmt pnpm exec oxlint

ci: [pub] ci test
  words.txt
Due: none

fix(ci): [pub][f] add force mode
  .github/workflows/build.yaml
Due: none

fix(ci): strategy
  .github/workflows/build.yaml
Due: none

chore: [pub][f] ci test
  .github/workflows/build.yaml
Due: none

fix(ci): [pub][f] build commend
  .github/workflows/build.yaml
Due: none

fix(ci): [pub][f] utils build first
  .github/workflows/build.yaml
Due: none

fix(ci): [pub][f] pub config
  .github/workflows/build.yaml
  packages/core/package.json
  packages/db/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/vite/package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code

fix(ci): permissions
  .github/workflows/build.yaml
Due: none

chore(ci): [f] name
  .github/workflows/build.yaml
Due: none

fix(ci): [f] union build
  .github/workflows/build.yaml
Due: none

fix(ci): [f] better restore
  .github/workflows/build.yaml
Due: none

fix(ci): [f] pnpm setup
  .github/workflows/build.yaml
Due: none

fix(ci): pnpm in build
  .github/workflows/build.yaml
Due: none

fix(ci): deps install in release
  .github/workflows/build.yaml
Due: none

fix(ci): [f] publish
  .github/workflows/build.yaml
  release.config.mjs
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code, pnpm exec oxfmt pnpm exec oxlint

fix: [f] deps
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code

chore: disable upload
  .github/workflows/build.yaml
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code

chore: non
  .github/workflows/build.yaml
Due: none

feat: image icon
  .vscode/settings.json
  packages/ui/lib/components/DcAuthorIcon.vue
  packages/ui/lib/components/DcImagedIcon.vue
  packages/ui/lib/index.ts
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code, pnpm exec oxfmt pnpm exec oxlint

chore: new release
  package.json
  packages/core/package.json
  packages/db/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/vite/package.json
Due: pnpm exec cspell --no-exit-code

chore: remove deps
  .github/workflows/build.yaml
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  release.config.mjs
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code, pnpm exec oxfmt pnpm exec oxlint

fix(plugin): expose global
  packages/plugin/lib/index.ts
  packages/plugin/package.json
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code, pnpm exec oxfmt pnpm exec oxlint

feat: rollup types
  packages/core/package.json
  packages/core/vite.config.mts
  packages/db/package.json
  packages/db/vite.config.mts
  packages/model/lib/model/content.ts
  packages/model/package.json
  packages/model/vite.config.mts
  packages/plugin/package.json
  packages/plugin/vite.config.mts
  packages/request/package.json
  packages/request/vite.config.mts
  packages/ui/package.json
  packages/ui/vite.config.mts
  packages/utils/package.json
  packages/utils/vite.config.mts
  packages/vite/package.json
  packages/vite/vite.config.mts
  pnpm-lock.yaml
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code, pnpm exec oxfmt pnpm exec oxlint

chore: less deps
  packages/core/lib/ipc.ts
  packages/core/package.json
  packages/utils/lib/date.ts
  packages/utils/lib/index.ts
  packages/utils/vite.config.mts
  pnpm-lock.yaml
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code, pnpm exec oxfmt pnpm exec oxlint

revers: roll back to no rollup type
  packages/core/package.json
  packages/core/vite.config.mts
  packages/db/package.json
  packages/db/vite.config.mts
  packages/model/package.json
  packages/model/vite.config.mts
  packages/plugin/lib/driver/init/index.ts
  packages/plugin/lib/plugin/index.ts
  packages/plugin/package.json
  packages/plugin/vite.config.mts
  packages/request/package.json
  packages/request/vite.config.mts
  packages/ui/package.json
  packages/ui/vite.config.mts
  packages/utils/package.json
  packages/utils/vite.config.mts
  packages/vite/package.json
  packages/vite/vite.config.mts
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code, pnpm exec oxfmt pnpm exec oxlint

feat(core): fullscreen
  packages/core/lib/fc.ts
  packages/core/lib/index.ts
  packages/core/package.json
  pnpm-lock.yaml
Due: pnpm exec oxlint --fix --type-aware, pnpm exec cspell --no-exit-code, pnpm exec oxfmt pnpm exec oxlint

chore(build): build
  packages/core/package.json
Due: pnpm exec cspell --no-exit-code
